<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">My Top 5 Artits</a>
    <!--navigation button -->
    <div class="collapse navbar-collapse" id="blogNav">
        <ul>
            <li class="nav-item active">
                <a class="nav-link" href="{{ url_for('home') }}">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ url_for('top5') }}">Top 5 Artists</a>
            </li>
        </ul>
    </div>
</nav>