.banner{
    height: 95vh;
    background-size: cover;
    background-position: 35% 50%;
    background-color: peachpuff;
}

.header-text{
    display: flex;
    justify-content: center;
    padding-top: 20%;
    left:20rem;
    top: 10rem;
    color: plum;
}

h1{
    color: red;
}

h3{
    color: blue;
}